n8n/workflows/01-receber-whatsapp.json
{
  "name": "FlowAssist 01 - Receber WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-incoming",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "4fbc3806-d148-4b74-bcda-c18e189f07a4",
      "name": "Webhook Evolution",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ],
      "webhookId": "b3420f9b-4b08-4035-a585-187ac42b2ae9"
    },
    {
      "parameters": {
        "jsCode": "const p = $input.first().json;\nif (p.data?.key?.fromMe === true) return [{ json: { skip: true } }];\n\nconst instanceName = p.instance || p.instanceName;\nconst remoteJid = p.data?.key?.remoteJid || '';\nconst contactName = p.data?.pushName || 'Contato';\nconst msg = p.data?.message || {};\nconst message = msg.conversation || msg.extendedTextMessage?.text || '';\n\nif (!message?.trim() || !instanceName) return [{ json: { skip: true } }];\n\nconst suffix = String(instanceName).replace('flowassist-', '');\nreturn [{\n  json: {\n    skip: false,\n    instanceName,\n    agentIdSuffix: suffix,\n    contactPhone: remoteJid,\n    contactName,\n    externalId: remoteJid,\n    message: message.trim(),\n  },\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "76900ba8-ea56-4fc4-8e0a-6a97dcc1e030",
      "name": "Parse mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fc339700-d39d-4360-974a-74be1035f0b3",
              "leftValue": "={{ $json.skip }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "114b4261-3230-4f4e-8471-775d94248fc5",
      "name": "Mensagem valida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT a.id AS agent_id FROM agents a\nJOIN whatsapp_connections w ON w.agent_id = a.id\nWHERE w.instance_name = $1 OR a.id::text LIKE $2 || '%'\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ $('Parse mensagem').item.json.instanceName }},{{ $('Parse mensagem').item.json.agentIdSuffix }}"
        }
      },
      "id": "67b25b5b-00d4-46b4-bc81-2218be971a13",
      "name": "Resolver agentId",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        760,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const parse = $('Parse mensagem').item.json;\nconst row = $input.first().json;\nif (!row.agent_id) throw new Error('Agente nao encontrado para ' + parse.instanceName);\nreturn [{ json: { agentId: row.agent_id, channelId: 'whatsapp', ...parse } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "3a962012-f5c8-4449-9060-db02952b6638",
      "name": "Prep agente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        200
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FlowAssist 02 - Buscar Agente",
          "mode": "name"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "agentId": "={{ $json.agentId }}",
            "channelId": "={{ $json.channelId }}"
          }
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "e0182109-346b-4ef7-b358-656864f93a6f",
      "name": "Chamar 02 - Buscar Agente",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1240,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "45b6d06e-f501-4169-a663-24abd8083a6f",
              "leftValue": "={{ $json.channel.enabled }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "579be656-c9ff-425b-ac43-99ab17a633fc",
      "name": "Canal ativo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1480,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const cfg = $input.first().json;\nconst parse = $('Prep agente').item.json;\nreturn [{\n  json: {\n    agentId: cfg.agentId,\n    query: parse.message,\n    topK: 5,\n    useSharedKnowledgeBase: cfg.channel.useSharedKnowledgeBase,\n    cfg,\n    parse,\n  },\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "eef94f59-6192-4289-a76d-e5a3f39362e2",
      "name": "Prep RAG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1720,
        120
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FlowAssist 04 - Buscar Conhecimento",
          "mode": "name"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "agentId": "={{ $json.agentId }}",
            "query": "={{ $json.query }}",
            "topK": "={{ $json.topK }}",
            "useSharedKnowledgeBase": "={{ $json.useSharedKnowledgeBase }}"
          }
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "b08fbe52-4f7d-4965-8e11-b47e00ba6963",
      "name": "Chamar 04 - Buscar Conhecimento",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1960,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const rag = $input.first().json;\nconst prep = $('Prep RAG').item.json;\nreturn [{\n  json: {\n    agentName: prep.cfg.agentName,\n    baseInstructions: prep.cfg.baseInstructions,\n    basePersonality: prep.cfg.basePersonality,\n    channel: prep.cfg.channel,\n    knowledgeContext: rag.knowledgeContext || '',\n    parse: prep.parse,\n  },\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "e117e97f-5d7a-4edc-b5ed-e17eaca0ac33",
      "name": "Prep prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        120
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FlowAssist 03 - Montar Prompt",
          "mode": "name"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "agentName": "={{ $json.agentName }}",
            "baseInstructions": "={{ $json.baseInstructions }}",
            "basePersonality": "={{ $json.basePersonality }}",
            "channel": "={{ $json.channel }}",
            "knowledgeContext": "={{ $json.knowledgeContext }}"
          }
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "54e64582-df73-46f3-95d9-c4fb2e27ce3a",
      "name": "Chamar 03 - Montar Prompt",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        2440,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const prompt = $input.first().json;\nconst parse = $('Prep prompt').item.json.parse;\nreturn [{\n  json: {\n    systemPrompt: prompt.systemPrompt,\n    history: [],\n    userMessage: parse.message,\n    personality: prompt.personality,\n    knowledgeContext: $('Prep prompt').item.json.knowledgeContext || '',\n    parse,\n  },\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "014845ea-e103-4891-8eea-49849a5daecc",
      "name": "Prep LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2680,
        120
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FlowAssist 05 - Executar LLM",
          "mode": "name"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "systemPrompt": "={{ $json.systemPrompt }}",
            "history": "={{ $json.history }}",
            "userMessage": "={{ $json.userMessage }}",
            "personality": "={{ $json.personality }}",
            "knowledgeContext": "={{ $json.knowledgeContext }}"
          }
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "6b71573a-c5cf-448a-81d7-a03e029f9a27",
      "name": "Chamar 05 - Executar LLM",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        2920,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.EVOLUTION_API_URL || 'http://localhost:8080') + '/message/sendText/' + $('Prep agente').item.json.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  number: $('Prep agente').item.json.contactPhone.replace('@s.whatsapp.net',''),\n  text: $json.reply || $json.data?.reply || 'Desculpe, nao consegui responder.',\n}) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "778a81e2-bf6a-4e7a-a9e9-b0f177efa065",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3160,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const llm = $('Chamar 05 - Executar LLM').item.json;\nconst prep = $('Prep agente').item.json;\nreturn [{\n  json: {\n    agentId: prep.agentId,\n    contactPhone: prep.contactPhone,\n    contactName: prep.contactName,\n    externalId: prep.externalId,\n    userMessage: prep.message,\n    assistantMessage: llm.reply || '',\n  },\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "b7dd5b5c-930d-45c6-96bc-662631be4868",
      "name": "Prep historico",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3400,
        120
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FlowAssist 06 - Salvar Historico",
          "mode": "name"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "agentId": "={{ $json.agentId }}",
            "contactPhone": "={{ $json.contactPhone }}",
            "contactName": "={{ $json.contactName }}",
            "externalId": "={{ $json.externalId }}",
            "userMessage": "={{ $json.userMessage }}",
            "assistantMessage": "={{ $json.assistantMessage }}"
          }
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "730ad90b-5695-4601-a9fb-4f36e46a0dc3",
      "name": "Chamar 06 - Salvar Historico",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        3640,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ok: true } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "2a5ca3ee-be86-41d2-8823-13eaec15e46b",
      "name": "Concluido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3880,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ok: true, skipped: true } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "69429deb-e1a0-4003-b6ca-60927bc89a7b",
      "name": "Ignorar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ok: true, disabled: true } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "54ecf214-b07c-46ab-ba2a-2cfa05380bcd",
      "name": "Canal desativado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1720,
        320
      ]
    }
  ],
  "connections": {
    "Webhook Evolution": {
      "main": [
        [
          {
            "node": "Parse mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse mensagem": {
      "main": [
        [
          {
            "node": "Mensagem valida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem valida?": {
      "main": [
        [
          {
            "node": "Resolver agentId",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignorar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolver agentId": {
      "main": [
        [
          {
            "node": "Prep agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep agente": {
      "main": [
        [
          {
            "node": "Chamar 02 - Buscar Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar 02 - Buscar Agente": {
      "main": [
        [
          {
            "node": "Canal ativo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Canal ativo?": {
      "main": [
        [
          {
            "node": "Prep RAG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Canal desativado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep RAG": {
      "main": [
        [
          {
            "node": "Chamar 04 - Buscar Conhecimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar 04 - Buscar Conhecimento": {
      "main": [
        [
          {
            "node": "Prep prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep prompt": {
      "main": [
        [
          {
            "node": "Chamar 03 - Montar Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar 03 - Montar Prompt": {
      "main": [
        [
          {
            "node": "Prep LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep LLM": {
      "main": [
        [
          {
            "node": "Chamar 05 - Executar LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar 05 - Executar LLM": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [
          {
            "node": "Prep historico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep historico": {
      "main": [
        [
          {
            "node": "Chamar 06 - Salvar Historico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar 06 - Salvar Historico": {
      "main": [
        [
          {
            "node": "Concluido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [],
  "id": "xAebhCb8Y7s",
  "versionId": "3aaa0f92-5e52-491d-9e2d-752eee31b8f7",
  "createdAt": "2026-06-20T14:08:34.233Z",
  "updatedAt": "2026-06-20T14:08:34.233Z",
  "triggerCount": 0
}
