n8n/workflows/02-buscar-agente.json
{
  "name": "FlowAssist 02 - Buscar Agente",
  "nodes": [
    {
      "parameters": {},
      "id": "ac7a07e2-1428-4662-bb56-a08b0b79504b",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, base_instructions, base_personality FROM agents WHERE id = $1 LIMIT 1;",
        "options": {
          "queryReplacement": "={{ $json.agentId }}"
        }
      },
      "id": "7f4c676c-720b-44ff-aa85-4cb7bdc6bf40",
      "name": "Buscar agente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT channel_id, enabled, use_shared_personality, use_shared_knowledge_base, personality, instructions\nFROM channel_configs WHERE agent_id = $1 AND channel_id = $2 LIMIT 1;",
        "options": {
          "queryReplacement": "={{ $('Execute Workflow Trigger').item.json.agentId }},{{ $('Execute Workflow Trigger').item.json.channelId }}"
        }
      },
      "id": "7d1e0c24-656d-4c85-a79e-cabfc2cf2767",
      "name": "Buscar canal",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $('Execute Workflow Trigger').item.json;\nconst agent = $('Buscar agente').item.json;\nconst channel = $('Buscar canal').item.json;\n\nif (!agent?.id) throw new Error('Agente nao encontrado: ' + input.agentId);\nif (!channel?.channel_id) throw new Error('Canal nao encontrado: ' + input.channelId);\n\nconst parse = (v) => (typeof v === 'string' ? JSON.parse(v) : v);\n\nreturn [{\n  json: {\n    agentId: agent.id,\n    agentName: agent.name,\n    baseInstructions: agent.base_instructions,\n    basePersonality: parse(agent.base_personality),\n    channel: {\n      channelId: channel.channel_id,\n      enabled: channel.enabled,\n      useSharedPersonality: channel.use_shared_personality,\n      useSharedKnowledgeBase: channel.use_shared_knowledge_base,\n      personality: channel.personality ? parse(channel.personality) : null,\n      instructions: channel.instructions || '',\n    },\n  },\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "eb8e99a3-969b-4c34-aaab-b50c04931d14",
      "name": "Montar config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Buscar agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar agente": {
      "main": [
        [
          {
            "node": "Buscar canal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar canal": {
      "main": [
        [
          {
            "node": "Montar config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [],
  "id": "_MEaxD-qYMc",
  "versionId": "a6f4e217-be0b-4038-860b-53ee7158f137",
  "createdAt": "2026-06-20T14:08:34.242Z",
  "updatedAt": "2026-06-20T14:08:34.242Z",
  "triggerCount": 0
}
