n8n/workflows/04-buscar-conhecimento.json
{
  "name": "FlowAssist 04 - Buscar Conhecimento",
  "nodes": [
    {
      "parameters": {},
      "id": "36bed991-2f13-45eb-844b-5b1d1c1f75e2",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cfcb5787-da0b-4b8d-9b7f-35121ef55bac",
              "leftValue": "={{ $json.useSharedKnowledgeBase }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4901a879-7bc7-43d8-bd0c-931c7782dcc7",
      "name": "RAG habilitado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: \"text-embedding-3-small\", input: $(\"Execute Workflow Trigger\").item.json.query }) }}"
      },
      "id": "32335802-1222-4f2a-85b7-8f2e07f61f5e",
      "name": "Embedding query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        520,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $('Execute Workflow Trigger').item.json;\nconst embedding = $input.first().json.data[0].embedding;\nconst vectorLiteral = '[' + embedding.join(',') + ']';\nconst topK = input.topK || 5;\n\nreturn [{ json: { ...input, vectorLiteral, topK } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "d9c8c183-dc81-436b-b9f1-ee8b52800cf7",
      "name": "Busca vetorial",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT content, file_id, chunk_index,\n  1 - (embedding <=> $1::vector) AS score\nFROM knowledge_chunks\nWHERE agent_id = $2::uuid\nORDER BY embedding <=> $1::vector\nLIMIT $3;",
        "options": {
          "queryReplacement": "={{ $json.vectorLiteral }},{{ $json.agentId }},{{ $json.topK }}"
        }
      },
      "id": "3507997f-1f97-4b8c-aa7e-e8ae28412314",
      "name": "PostgreSQL RAG",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1040,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst hits = rows.filter(r => r.content).map(r => ({\n  content: r.content,\n  score: Number(r.score),\n  fileId: r.file_id,\n  chunkIndex: r.chunk_index,\n})).filter(h => h.score >= 0.7);\n\nconst knowledgeContext = hits.map(h => h.content).join('\\n---\\n');\nreturn [{ json: { hits, knowledgeContext } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "65fece05-2c10-425a-8089-01b0f95a4fc5",
      "name": "Montar contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { hits: [], knowledgeContext: '' } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "76ed4bed-1a74-4760-88a5-761f3d332c3e",
      "name": "Sem RAG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        420
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "RAG habilitado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG habilitado?": {
      "main": [
        [
          {
            "node": "Embedding query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sem RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embedding query": {
      "main": [
        [
          {
            "node": "Busca vetorial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca vetorial": {
      "main": [
        [
          {
            "node": "PostgreSQL RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL RAG": {
      "main": [
        [
          {
            "node": "Montar contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [],
  "id": "nc47MCEDFZ0",
  "versionId": "cccc4f19-5fa5-4cf1-b6a3-5e1f13731736",
  "createdAt": "2026-06-20T14:08:34.243Z",
  "updatedAt": "2026-06-20T14:08:34.243Z",
  "triggerCount": 0
}
