n8n/workflows/05-executar-llm.json
{
  "name": "FlowAssist 05 - Executar LLM",
  "nodes": [
    {
      "parameters": {},
      "id": "4efb4cbf-23ca-44b8-9ada-3e227297d7b3",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        120
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "personal-use-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ba55fcb9-3f36-4069-8dec-c1fbe46466b2",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        0,
        480
      ],
      "webhookId": "7c8c6537-cf19-40c2-89aa-547568d32670"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst headers = item.headers || {};\nconst secret = headers['x-webhook-secret'] || headers['X-Webhook-Secret'];\nconst expected = $env.N8N_WEBHOOK_SECRET || 'dev-webhook-secret';\nif (secret !== expected) return [{ json: { unauthorized: true } }];\nconst body = item.body ?? item;\nreturn [{ json: { unauthorized: false, source: 'webhook', ...body } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "ca700628-612c-487e-9742-e14fae4d5fae",
      "name": "Auth webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f8cb5130-00dc-4aef-a68f-450c2f89ab25",
              "leftValue": "={{ $json.unauthorized }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6fab3d9b-f283-4cc0-9b59-d81cb0286470",
      "name": "Autorizado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        520,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst viaWebhook = item.source === 'webhook';\nconst body = viaWebhook ? item : item;\nconst p = body.personality || {};\nconst messages = [{ role: 'system', content: body.systemPrompt || 'Voce e um assistente util.' }];\n\nfor (const msg of (body.history || [])) {\n  messages.push({ role: msg.role, content: msg.content });\n}\nmessages.push({ role: 'user', content: body.userMessage });\n\nconst temperature = (p.temperature ?? 50) / 100;\nconst max_tokens = { curta: 256, media: 512, longa: 1024 }[p.responseLength] || 512;\n\nreturn [{ json: { viaWebhook, messages, temperature, max_tokens } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "ef5610a0-18ea-4249-8cb3-fc3a93726ed5",
      "name": "Preparar LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: \"gpt-4o-mini\", messages: $(\"Preparar LLM\").item.json.messages, temperature: $(\"Preparar LLM\").item.json.temperature, max_tokens: $(\"Preparar LLM\").item.json.max_tokens }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "075d9b5c-0604-48d9-840b-fac69ed92842",
      "name": "OpenAI Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        760,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const prep = $('Preparar LLM').item.json;\nlet reply = 'Desculpe, nao consegui processar sua mensagem agora. Tente novamente.';\ntry {\n  const choices = $input.first().json.choices;\n  if (choices?.[0]?.message?.content) {\n    reply = choices[0].message.content;\n  }\n} catch {}\nreturn [{ json: { reply } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "1b603c05-6ddd-4321-badc-54efb7948074",
      "name": "Extrair resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { reply: $json.reply } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "fdd6e9e0-ab54-40a2-897a-e5ea87c24094",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1240,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: \"Unauthorized\" } }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "8e813faa-7a98-45b4-b416-4dd035d48b56",
      "name": "Responder 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        760,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3aae2493-8b3d-4b12-a5a6-b67af1541e9d",
              "leftValue": "={{ $('Preparar LLM').item.json.viaWebhook }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "70b0311c-4557-4ef0-ae37-53388f50363b",
      "name": "Via webhook?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1240,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { reply: $json.reply } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "6b5aed0e-48ce-4e2e-ad4e-27f77efbc3ba",
      "name": "Retorno sub-workflow",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1480,
        320
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Preparar LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Auth webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth webhook": {
      "main": [
        [
          {
            "node": "Autorizado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Autorizado?": {
      "main": [
        [
          {
            "node": "Responder 401",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar LLM": {
      "main": [
        [
          {
            "node": "OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat": {
      "main": [
        [
          {
            "node": "Extrair resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair resposta": {
      "main": [
        [
          {
            "node": "Via webhook?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Via webhook?": {
      "main": [
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retorno sub-workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [],
  "id": "HNfG6_5-tcU",
  "versionId": "b3215cf1-e1a5-4a79-a1fc-c15c9a6e84f4",
  "createdAt": "2026-06-20T14:08:34.246Z",
  "updatedAt": "2026-06-20T14:08:34.246Z",
  "triggerCount": 0
}
